.footer {
  height: 62px;
  border-top: solid 1px #e5e5e5;
  position: fixed;
}
.footer__input-field {
  font-family: OpenSans-Semibold, sans-serif;
  font-size: 13px;
  border: 0;
  width: 100%;
  padding: 7px 16px 4px 16px;
  outline: none;
}
.footer__input-field::-webkit-input-placeholder {
  color: #cdcdcd;
}
.footer__menu {
  margin: 0;
  float: left;
  padding-left: 12px;
}
.footer__menu-item {
  display: inline-block;
  float: left;
  background: no-repeat center;
  height: 32px;
  padding-left: 26px;
  cursor: pointer;
}
.footer__menu-item_background-picture {
  background-image: url(../../icons/Picture.svg);
}
.footer__menu-item_background-gif {
  background-image: url(../../icons/Gif.svg);
}
.footer__menu-item_background-smile {
  background-image: url(../../icons/Smile.svg);
}
.footer__menu-item_background-calendar {
  background-image: url(../../icons/Calendar.svg);
}
.footer__menu-item_background-camera {
  background-image: url(../../icons/Camera.svg);
}
